<p id="notice"><%= notice %></p>

<h1><%= House.model_name.human %><%= t '.title' %></h1>

<table>
  <thead>
    <tr>
      <th><%= House.human_attribute_name('name') %></th>
      <th><%= House.human_attribute_name('rent') %></th>
      <th><%= House.human_attribute_name('address') %></th>
      <th><%= House.human_attribute_name('age') %></th>
      <th><%= House.human_attribute_name('note') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.name %></td>
        <td><%= number_with_delimiter house.rent %><%= t('number.currency.format.unit') %></td>
        <td><%= house.address %></td>
        <td><%= house.age %><%= t('datetime.prompts.year') %></td>
        <td><%= house.note %></td>
        <td><%= link_to t('helpers.show'), house %></td>
        <td><%= link_to t('helpers.edit'), edit_house_path(house) %></td>
        <td><%= link_to t('helpers.destroy'), house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to(new_house_path) do %>
  <%= House.model_name.human %><%= t('helpers.link.create') %>
<% end %>
