<p id="notice"><%= notice %></p>

<p>
  <strong><%= House.human_attribute_name('name') %>: </strong>
  <%= @house.name %>
</p>

<p>
  <strong><%= House.human_attribute_name('rent') %>: </strong>
  <%= number_with_delimiter @house.rent %><%= t('number.currency.format.unit') %>
</p>

<p>
  <strong><%= House.human_attribute_name('address') %>: </strong>
  <%= @house.address %>
</p>

<p>
  <strong><%= House.human_attribute_name('age') %></strong>
  <%= @house.age %><%= t('datetime.prompts.year') %>
</p>

<p>
  <strong><%= House.human_attribute_name('note') %></strong>
  <%= @house.note %>
</p>

<hr/>

<% @house.stations.each_with_index do |station, i| %>
  <h2><%= Station.model_name.human %><%= i + 1 %></h2>

  <p>
    <strong><%= Station.human_attribute_name('route_name') %></strong>
    <%= station.route_name %>
  </p>

  <p>
    <strong><%= Station.human_attribute_name('name') %></strong>
    <%= station.name %>
  </p>

  <p>
    <strong><%= Station.human_attribute_name('duration') %></strong>
    <%= station.duration %><%= t('datetime.prompts.minute') %>
  </p>
<% end %>

<%= link_to t('helpers.edit'), edit_house_path(@house) %> |
<%= link_to t('helpers.back'), houses_path %>
